@model IEnumerable<Pharma.Models.Empleado>
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<div class="page-heading container">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>Empleados</h3>
                                <p class="text-subtitle text-muted">Crea, modifica y elimina empleados.</p>
                                <a class="btn btn-success" asp-controller="Empleado" asp-action="Create">Crear empleado</a>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Empleados</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <br>

                    
        @if (Model.Count() > 0)
        {
            <section class="section">
            <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if(item.IdEmpleado != int.Parse(Context.Request.Cookies["emplId"]))
                    {
                            <tr>
                            <td>@item.IdEmpleado</td>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.Puesto</td>
                            <td>
                                <a class="btn btn-success" asp-controller="Empleado" asp-action="EditProfile"
                                asp-route-id=@item.IdEmpleado><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#danger" onclick="pass(@item.IdEmpleado)"><i class="fa-solid fa-trash-can"></i></a> 
                            </td>
                   </tr>
                        }

                    
                }
            </tbody>
            </table>
             <div class="modal-danger me-1 mb-1 d-inline-block">

                    <!--Danger theme Modal -->
                    <div class="modal fade text-left" id="danger" tabindex="-1"
                        role="dialog" aria-labelledby="myModalLabel120"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                            role="document">
                            <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h5 class="modal-title white" id="myModalLabel120">
                                    Alerta
                                </h5>
                                <button type="button" class="close"
                                    data-bs-dismiss="modal" aria-label="Close">
                                    <i data-feather="x"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de eliminar este empleado?
                            </div>
                            <input hidden id="id">
                            <div class="modal-footer">
                                <button type="button"
                                    class="btn btn-light-secondary"
                                    data-bs-dismiss="modal">
                                    <i class="bx bx-x d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Cancelar</span>
                                </button>
                                <a  onclick="remove()" class="btn btn-danger ml-1"
                                    data-bs-dismiss="modal">
                                    <i class="bx bx-check d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Aceptar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }else{
                <p>No existen registros de empleados.</p>
        }
 </div>
 <script>
            function pass(id) {
                $('#id').val(id);
            }

            function remove(){
                console.log("funciono");
                var id = $('#id').val();
                var url = '@Url.Action("RemoveEmp", "Empleado")';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { id: id},
                    success: function () {
                        console.log("me tiene jalto");
                        location.reload();
                    }
                })
            }
        </script>

